<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp687F2247A02D21E247595804EFE04A70" Guid="*">
                <File Id="fil26632584E925BB36171FC46C52C42BAC" KeyPath="yes" Source="SourceDir\ApplicationInsights.config" />
            </Component>
            <Component Id="cmpB7C54C0DAC845A245990A155777A7684" Guid="*">
                <File Id="fil9162A1EF821C997C20CF0FDE1ECA3D5C" KeyPath="yes" Source="SourceDir\Index.html" />
            </Component>
            <Component Id="cmp3DE0E27CB4AD0EAD15733F20AB0760EF" Guid="*">
                <File Id="filF804CBAD53A94E1BE2AB44FD5DF0AB63" KeyPath="yes" Source="SourceDir\packages.config" />
            </Component>
            <Component Id="cmpCDB7F4EFDEF1E65C3B12BEBAD7E4D7EA" Guid="*">
                <File Id="fil8994620207C22CA15AF75ACDD6420C79" KeyPath="yes" Source="SourceDir\Web.config" />
            </Component>
            <Directory Id="dir7307A6085BD4ABD9B8955C093FD541F5" Name="bin">
                <Component Id="cmp9CACCA09D2E128D5309E60B75DDC2FD0" Guid="*">
                    <File Id="filE44B979B78E4C4B5472F2E2CBC18C35F" KeyPath="yes" Source="SourceDir\bin\ApplicationInsights.config" />
                </Component>
                <Component Id="cmpEA87C851D7C1B10C236668C114BE47C3" Guid="*">
                    <File Id="filB6B767860338B54C370539AE10E63597" KeyPath="yes" Source="SourceDir\bin\Microsoft.AI.Agent.Intercept.dll" />
                </Component>
                <Component Id="cmp09B7A4D1D15410734F1BB616497FAB61" Guid="*">
                    <File Id="filA874633F349C98813500F35C1B7939FA" KeyPath="yes" Source="SourceDir\bin\Microsoft.AI.DependencyCollector.dll" />
                </Component>
                <Component Id="cmpF55D991454540F913E3C4062E7331192" Guid="*">
                    <File Id="filBE5909288783370C9477B46F4C70392D" KeyPath="yes" Source="SourceDir\bin\Microsoft.AI.PerfCounterCollector.dll" />
                </Component>
                <Component Id="cmpDC88BBCEF1FC8CB57A7B8E1A1AA74579" Guid="*">
                    <File Id="fil600588683644E58FE46D8F1D6ACD4BF2" KeyPath="yes" Source="SourceDir\bin\Microsoft.AI.ServerTelemetryChannel.dll" />
                </Component>
                <Component Id="cmp73E0AE6CC60AFB3978B0C54E7B523161" Guid="*">
                    <File Id="fil3B5705763885E139676E08C8EC28FBE4" KeyPath="yes" Source="SourceDir\bin\Microsoft.AI.Web.dll" />
                </Component>
                <Component Id="cmp12C0B8E3521B133B08D54EC34DC1AA02" Guid="*">
                    <File Id="filAD1F0859767AA982862D21F4FEA579DC" KeyPath="yes" Source="SourceDir\bin\Microsoft.AI.WindowsServer.dll" />
                </Component>
                <Component Id="cmp83B091C8E4C28CDA3907108966A880EC" Guid="*">
                    <File Id="filF9974E73E4816E8A6449ED9D6727DA1A" KeyPath="yes" Source="SourceDir\bin\Microsoft.ApplicationInsights.dll" />
                </Component>
                <Component Id="cmp50642F6868B70A0D2E0A7894E1C65D3F" Guid="*">
                    <File Id="fil5943330B26DED2D0E7F26CAC5D34148F" KeyPath="yes" Source="SourceDir\bin\Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll" />
                </Component>
                <Component Id="cmpE0C552B9FAC6E066B89A380967D6D17D" Guid="*">
                    <File Id="fil70102C9074F9BD25822AB00FCF6739BF" KeyPath="yes" Source="SourceDir\bin\WebApp.dll" />
                </Component>
                <Component Id="cmpBE56F082BD22A84CEEE792B2AC5CB262" Guid="*">
                    <File Id="filABDE3E7AEC212B4C9D90C9CD1B259A30" KeyPath="yes" Source="SourceDir\bin\WebApp.pdb" />
                </Component>
                <Directory Id="dir00EB3D292B914AB8DCAFBC5C36DA2F9F" Name="roslyn">
                    <Component Id="cmp814D0DC83D4591CB0E16EA732CBA521C" Guid="*">
                        <File Id="filEF9CE1B06FD950CDA96A819CC235E33F" KeyPath="yes" Source="SourceDir\bin\roslyn\csc.exe" />
                    </Component>
                    <Component Id="cmp53F4DFEFCA771967811CE81250EB6A79" Guid="*">
                        <File Id="fil4F8FA2843048EEE39235E92E1829DC60" KeyPath="yes" Source="SourceDir\bin\roslyn\Microsoft.Build.Tasks.CodeAnalysis.dll" />
                    </Component>
                    <Component Id="cmp3EE2AF260E7AC5157A34B2E5ABB4A0D4" Guid="*">
                        <File Id="fil121993405F68723D89F218BFEACB5B7A" KeyPath="yes" Source="SourceDir\bin\roslyn\Microsoft.CodeAnalysis.CSharp.dll" />
                    </Component>
                    <Component Id="cmpA65D34111306D512CEC3D0DACC62F265" Guid="*">
                        <File Id="fil61A6D407C9E8AAFBEE1B60CF6CA5E47B" KeyPath="yes" Source="SourceDir\bin\roslyn\Microsoft.CodeAnalysis.dll" />
                    </Component>
                    <Component Id="cmp0DF7A6AE5FCAC1022517CC7AB5B57492" Guid="*">
                        <File Id="fil65E78C498A93B5A28C7D80D56EF40C14" KeyPath="yes" Source="SourceDir\bin\roslyn\Microsoft.CodeAnalysis.VisualBasic.dll" />
                    </Component>
                    <Component Id="cmpB5888C38F6990CBDAB1E41246B4BDE05" Guid="*">
                        <File Id="fil4D7ABDC59F02B0DB743989DC6F072A00" KeyPath="yes" Source="SourceDir\bin\roslyn\Microsoft.CSharp.Core.targets" />
                    </Component>
                    <Component Id="cmp0AD907FC357BA02B8D648703919B9568" Guid="*">
                        <File Id="fil8A2D5039CED0EEDBD9E256A04881EF3A" KeyPath="yes" Source="SourceDir\bin\roslyn\Microsoft.VisualBasic.Core.targets" />
                    </Component>
                    <Component Id="cmp76BDD178EC150A44E7FF4E66817FC866" Guid="*">
                        <File Id="fil22719FAADA8023BDE2BECCB8970D5E55" KeyPath="yes" Source="SourceDir\bin\roslyn\System.Collections.Immutable.dll" />
                    </Component>
                    <Component Id="cmp5EDACF3680E37E2E54461B561928B82C" Guid="*">
                        <File Id="fil8B9023424F2F29AAC89C00B0C514A646" KeyPath="yes" Source="SourceDir\bin\roslyn\System.Reflection.Metadata.dll" />
                    </Component>
                    <Component Id="cmp6DE43A36BCC1FE89E3AE76CA275B2C23" Guid="*">
                        <File Id="fil8317295009362BC7853CB4E211BF183B" KeyPath="yes" Source="SourceDir\bin\roslyn\vbc.exe" />
                    </Component>
                    <Component Id="cmpF336E804B779B71295907CC34A2ADF8B" Guid="*">
                        <File Id="filED3F355F17E04587CA89CFA19684A3FD" KeyPath="yes" Source="SourceDir\bin\roslyn\VBCSCompiler.exe" />
                    </Component>
                    <Component Id="cmp4C3143ED21AF41A17A27B32AAEEF309C" Guid="*">
                        <File Id="fil129700873B71997035F197C466BC1750" KeyPath="yes" Source="SourceDir\bin\roslyn\VBCSCompiler.exe.config" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="WebApp">
            <ComponentRef Id="cmp687F2247A02D21E247595804EFE04A70" />
            <ComponentRef Id="cmpB7C54C0DAC845A245990A155777A7684" />
            <ComponentRef Id="cmp3DE0E27CB4AD0EAD15733F20AB0760EF" />
            <ComponentRef Id="cmpCDB7F4EFDEF1E65C3B12BEBAD7E4D7EA" />
            <ComponentRef Id="cmp9CACCA09D2E128D5309E60B75DDC2FD0" />
            <ComponentRef Id="cmpEA87C851D7C1B10C236668C114BE47C3" />
            <ComponentRef Id="cmp09B7A4D1D15410734F1BB616497FAB61" />
            <ComponentRef Id="cmpF55D991454540F913E3C4062E7331192" />
            <ComponentRef Id="cmpDC88BBCEF1FC8CB57A7B8E1A1AA74579" />
            <ComponentRef Id="cmp73E0AE6CC60AFB3978B0C54E7B523161" />
            <ComponentRef Id="cmp12C0B8E3521B133B08D54EC34DC1AA02" />
            <ComponentRef Id="cmp83B091C8E4C28CDA3907108966A880EC" />
            <ComponentRef Id="cmp50642F6868B70A0D2E0A7894E1C65D3F" />
            <ComponentRef Id="cmpE0C552B9FAC6E066B89A380967D6D17D" />
            <ComponentRef Id="cmpBE56F082BD22A84CEEE792B2AC5CB262" />
            <ComponentRef Id="cmp814D0DC83D4591CB0E16EA732CBA521C" />
            <ComponentRef Id="cmp53F4DFEFCA771967811CE81250EB6A79" />
            <ComponentRef Id="cmp3EE2AF260E7AC5157A34B2E5ABB4A0D4" />
            <ComponentRef Id="cmpA65D34111306D512CEC3D0DACC62F265" />
            <ComponentRef Id="cmp0DF7A6AE5FCAC1022517CC7AB5B57492" />
            <ComponentRef Id="cmpB5888C38F6990CBDAB1E41246B4BDE05" />
            <ComponentRef Id="cmp0AD907FC357BA02B8D648703919B9568" />
            <ComponentRef Id="cmp76BDD178EC150A44E7FF4E66817FC866" />
            <ComponentRef Id="cmp5EDACF3680E37E2E54461B561928B82C" />
            <ComponentRef Id="cmp6DE43A36BCC1FE89E3AE76CA275B2C23" />
            <ComponentRef Id="cmpF336E804B779B71295907CC34A2ADF8B" />
            <ComponentRef Id="cmp4C3143ED21AF41A17A27B32AAEEF309C" />
        </ComponentGroup>
    </Fragment>
</Wix>